body {
  background-color: rgb(122, 91, 163);
  font-family: 'Lucida Sans', Verdana, sans-serif;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main, section.container {
  flex: 1;
}

.navbar {
  background-color: #420d4b !important;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.navbar-brand {
  font-size: 1.5rem;
  color: #ffffff !important;
  font-weight: bold;
}

.nav-link {
  color: #fff !important;
  margin-right: 10px;
  font-size: 1.2rem;
  transition: 0.3s;
}

.nav-link:hover {
  color: #f0f0f0 !important;
}

.navbar-toggler {
  border: none; 
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width: 768px) {
  .navbar-collapse {
    background-color: #210635; 
    padding: 15px;
    border-radius: 0 0 15px 15px;
  }

  .navbar-collapse .nav-link {
    display: block;
    margin: 10px 0;
    color: #fff !important; 
    text-align: center;
  }

  .navbar-collapse .nav-link:hover {
    background-color: #ff5e99; 
    border-radius: 8px;
  }
}

.logo {
  height: 40px;
  width: auto;
}

.card {
  background-color: #210635;
  color: #ffffff;
  box-shadow: none; 
  border-radius: 30px;
}

section.container {
  padding: 40px;
  border-radius: 15px;
}

.card h2,
.card p,
label,
.card form {
  color: #ffffff !important;
}

.btn-primary {
  background-color: #ff5e99 !important;
  border: none !important;
  color: #fff !important;
  font-weight: bold;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #e14f87 !important; 
}

#nome.form-control {
  max-width: 500px;
  min-width: 300px;   
  margin: 0 auto; 
  margin-bottom: 30px;    
  padding: 8px 12px;  
  font-size: 0.9rem;  
  border-radius: 8px; 
}


footer {
  background-color: #420d4b;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: auto; 
  font-size: 0.9rem;
}

footer a {
  color: #ff5e99;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
